<div class="footer">
        <h6>&copy; Abdulghafor Nurali COMP308 Assignment 1</h6>
        <div class="githubLink">
          <a href="https://github.com/Abdul025"> <i class="fa fa-2lg fa-github fa-2x"></i></a>
    </div>
    <!-- JavaScript Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>