<% include ./partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">My name is Abdulghafor Nurali</h1>
        <p class="myAbout">
            Computing has always been my major interest, from a young age I've always had<br>
            a keen interest in programming. Programming has always been my strongest subject<br> 
            and I would definitely say that it is the field I want to work in. Computers are <br>
            such a large part of life these days and they reach into every aspect, I would<br>
            love to be a part of the development of software that makes changes to the way<br>
            people work with technology.<br>
            <br>
            I am currently a Software Engineering technology student at Centennial College.<br>
            Here at Centennial College, I have gained experience in developing software with<br>
            an expansive knowledge of languages, including HTML, CSS, PHP, JavaScript, C#<br>
            Java, ASP.NET and SQL. <br>
            <br>
            I spend most of my time that I'm not in college or at work socializing with friends.<br>
            I love to go see films with a good group of friends or just to sit and catch up on <br>
            what's been going on with everyone. I enjoy playing soccer and basketball as I like to<br>
            have a balance between technology and physical activities.<br>
            <br>
            Playing Harmonium along with singing is a hobby that I love.<br>
            <br>
            I look forward to applying my knowledge of computers ready<br>
            for a job in the software development industry.
            <br>
            <br>
            <img src="/Assets/images/myImage.jpeg" class="center" width="420" height="500" />
            <br>
            <br>
            <a class="btn btn-primary btn-lg" href="Assets/images/Abdulghafor_Nurali_resume.pdf">View My Resume</a>
            
            <a class="btn btn-primary btn-lg" href="Assets/images/Refrences.pdf">View My Refrences</a>
            <a class="btn btn-primary btn-lg" style="float: right;" href="Assets/images/Abdulghafor_Nurali_Cover_Letter.pdf">View My Cover Letter</a>
        </p>
        <p>
        </p>
      </div>
    </div>
   <footer>
<br>
    <% include ./partials/footer %>
</footer>
  </body>
</html>