<% include ./partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to my <%= title %> page</h1>
        <p class="lead">
            Yesterday I was clever, so I wanted to change the world. Today I am wise, so I am changing myself! 
            <br>"Rumi"
        </p>
        <hr class="my-4" />
        <p>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="About" role="button"
            >About me page</a>
        </p>
      </div>
    </div>
   <footer>
<br>
    <% include ./partials/footer %>
</footer>
  </body>
</html>
