<% include ./partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to my Portfolie page</h1>
        <p class="myservices">
            I am a very good web developer, the tool that I use to develope a website is ASP.NET<br>
            I can also design and have a good knowledge in regards to making Android application<br>
            using Android Studio.
            <br>
            <br>
            <img src="/Assets/images/movie.png" width="500" height="300" /> &nbsp;<img src="/Assets/images/movie1.png"
                width="500" height="300" />
            <br>
            <br>
            <img src="/Assets/images/sebo.png " width="500" height="300" /> &nbsp;<img src="/Assets/images/sebo1.png"
                width="500" height="300" /> 
        </p>
        <p>
        </p>
      </div>
    </div>
   <footer>
<br>
    <% include ./partials/footer %>
</footer>
  </body>
</html>