/*File name- app.css*/
/*Name-Abdulghafor Nurali*/
/*student ID:300655894*/
/*DATE-2-16-19*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-left: 20px;
}

